.card{
    flex-grow: 1;

    &__image{
        border-radius: 20px 20px 0px 0px;
        height: 150px;
        background-size: cover;
    }

    &__restaurant-1{
            background-image:url("images/restaurants/restaurant-1.jpg");
            }
    &__restaurant-2{
            background-image:url("images/restaurants/restaurant-2.jpg");
    }
    &__restaurant-3{
            background-image:url("images/restaurants/restaurant-3.jpg");
    }
    &__restaurant-4{
            background-image:url("images/restaurants/restaurant-4.jpg");
    }

    &__description{
        position: relative;
        i{
            position: absolute;
            font-size: 20px;
            right:10px;
            top:50%;
            transform: translateY(-50%);
            color: black;
        }   
        .fas{
            opacity:0;
        }
        .fas:hover{
        background-image: linear-gradient(to top, $primary-color, $secondary-color);
        color: transparent;
        background-clip: text;
        opacity:1;
        }
    }
}


.choix{
    background-color: white;
    @include base-shadow();
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px 0px 15px 0px;
    overflow: hidden;
    cursor: pointer;
   

    &__plat{
        display: flex;
        height: 100%;
        flex-direction: column;
        padding-left: 20px;
        overflow: hidden;
        flex-grow: 1;
        padding-top: 25px;
        padding-bottom: 25px;
        
        h4{
            font-size: 17px;
            font-weight: 500;
            margin:0px;
            padding-bottom: 5px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;    
        }
        p{
            font-size: 15px;
            font-weight: 300;
            margin:0px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;    
        }
    }

    &__animation{
        display: flex;
        flex-direction: row;
        p{
            justify-content: center;
            bottom: 0;
            font-weight: bold;
            margin:0;
            width:45px;
            display: flex;
            align-items: flex-end;
            padding-top: 25px;
            padding-bottom: 25px;
        }

        &__valide{
        @include flex-center();
        color: white;
        background-color: $tertiary-color;
        width:45px;
        margin-right:-45px;
        border-radius: 0px 20px 20px 0px;
            i{
            border-radius:50%;
            background-color: white;
            color: $tertiary-color;
            padding:4px;
         }
    }
    }  
}

@keyframes rotation {
    0%{
        transform: rotate(-270deg);
    }
    100% { 
        transform: rotate(0deg);
    }
}

.choix:hover{
    .choix__animation__valide{
        margin-right: 0px;
        transition: 1s;
        i{
            animation-name : rotation;
            animation-duration: 1s;
        }
   
    }
}



