.card{
    &__image{
        border-radius: 20px 20px 0px 0px;
        height: 150px;
        background-size: cover;
    }

    &__restaurant-1{
            background-image:url("images/restaurants/restaurant-1.jpg");
            }
    &__restaurant-2{
            background-image:url("images/restaurants/restaurant-2.jpg");
    }
    &__restaurant-3{
            background-image:url("images/restaurants/restaurant-3.jpg");
    }
    &__restaurant-4{
            background-image:url("images/restaurants/restaurant-4.jpg");
    }

    &__description{
        position: relative;
        i{
            position: absolute;
            font-size: 20px;
            right:10px;
            top:50%;
            transform: translateY(-50%);
        }
    }

.fas:hover{
    background-image: linear-gradient(to top, $primary-color, $secondary-color);
    color: transparent;
    background-clip: text;
}
}