@mixin flex-center {
display: flex;
align-items: center;
justify-content: center;  
}

@mixin base-shadow {
box-shadow: 4px 4px 5px rgb(164, 164, 164);
}

@mixin animation-button{
    transform: scale(1);
    transition: transform 400ms;
    &:hover {
        transform: scale(1.15);
        opacity:0.8;
}
}