@import 'variables';
@import 'card';

$fonts: 'Roboto', sans-serif;
$primary-color:#9356DC;
$secondary-color:#FF79DA;
$tertiary-color:#99E2D0;
$spacing: 20px;

body {
    font-family: $fonts;
    padding: $spacing;
    justify-content: center;
    display: flex;
}


.localisation{
    background-color: rgb(234 234 234);
    height: 50px;
    margin:0;
}

.bloc__accueil {
    background-color: rgb(247 247 247);
    display: flex;
    flex-direction: column;
    text-align: center;

    .h1{
        margin: 0;
        padding: 20px, 25px, 20px, 25px;
        display:inline-block;
        }
}


header
{
    display:flex;
    width:100%;
    justify-content:center;
    height: 30px;
    object-fit: cover;
    padding-top: 15px;
    padding-bottom: 15px;
}

.localisation {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(233, 231, 231);
}

.fa-solid.fa-location-dot{
        margin-right: 10px;
    }    

.logo{
    width: 80px;
}

.img_restaurant
{
    width:50px;
}

