@import 'variables';
@import 'card';
@import 'mixins';

body {
    font-family: $fonts;
    padding: $spacing;
    justify-content: center;
    display: flex;
}

header
{
    display:flex;
    width:100%;
    justify-content:center;
    
    padding-top: 15px;
    padding-bottom: 15px;
}

.logo{
    height: 30px;
    object-fit: cover;
}


.localisation {
    @include flex-center();
    background-color: rgb(233, 231, 231);
    height: 50px;
    margin:0;
}

.bloc__accueil {
    background-color: rgb(247 247 247);
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;

    h1{
        margin: 0px 20px 20px 20px;
        font-size: 26px;
        font-weight: 600;
        }
    
    p{
        margin: 0px 10px 20px 10px;
        font-size: 22px;
        font-weight: 200;
    }

    a{
        background-image: linear-gradient(to top, $primary-color, $secondary-color);
        width: auto;
        text-decoration: none;
        color: white;
        border-radius: 50px;
        height: 50px;
        margin: auto;
        padding-left: 15px;
        padding-right:15px;
        @include flex-center();
        box-shadow: 4px 4px 20px  rgb(116, 116, 116);
    }
}

h2,h3{
    font-size: 26px;
    font-weight: 600;
    }

.bloc__fonctionnement{
        padding : 30px 20px 30px 20px;
        background-color: white;
        display: flex;
        flex-direction: column;

        .etapes__fonctionnement{
            height: 200px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;  
            padding-left: 0px;
            }
}

ol {
    border: 2px black;
}

li {
    
    background-color:  rgb(247 247 247);
    box-shadow: 0px 0px 5px grey;
    height: 50px;
    border-radius: 15px;

    a{
        padding-left: 30px;
        text-decoration: none;
        height: 100%;
        display: flex;
        text-align: center;
        align-items: center;
        border-radius: 15px;
        
    }

    a:hover{
        background-color: #f5edff;
    }
} 

.picto{
    margin-right: 20px;
}


.restaurants__a__la__carte{
    background-color: #f7f7f7;
    padding : 30px 20px 30px 20px;
}


