@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

blockquote, q {
  quotes: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.card__image {
  border-radius: 20px 20px 0px 0px;
  height: 150px;
  background-size: cover;
}
.card__restaurant-1 {
  background-image: url("images/restaurants/restaurant-1.jpg");
}
.card__restaurant-2 {
  background-image: url("images/restaurants/restaurant-2.jpg");
}
.card__restaurant-3 {
  background-image: url("images/restaurants/restaurant-3.jpg");
}
.card__restaurant-4 {
  background-image: url("images/restaurants/restaurant-4.jpg");
}
.card__description {
  position: relative;
}
.card__description i {
  position: absolute;
  font-size: 20px;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: black;
}
.card__description .fas {
  opacity: 0;
}
.card__description .fas:hover {
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  opacity: 1;
}

.choix {
  background-color: white;
  box-shadow: 4px 4px 5px rgb(164, 164, 164);
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 70px;
  margin: 15px 0px 15px 0px;
  overflow: hidden;
}
.choix__plat {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 20px;
}
.choix__plat p {
  margin: 0px;
}
.choix__animation {
  display: flex;
  flex-direction: row;
}
.choix__animation p {
  padding-right: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.choix__animation__valide {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #99E2D0;
  width: 50px;
  margin-right: -50px;
  border-radius: 0px 20px 20px 0px;
}
.choix__animation__valide i {
  border-radius: 50%;
  background-color: white;
  color: #99E2D0;
  padding: 4px;
}

.choix:hover .choix__animation__valide {
  margin-right: 0px;
  transition: 2s;
}

img {
  height: 300px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.nom {
  background-color: #F7F7F7;
  margin-top: -53px;
  border-radius: 40px 40px 0 0;
  padding-top: 25px;
  width: 100%;
}
.nom h2 {
  font-family: "Shrikhand", sans-serif;
  font-size: 24px;
  margin-bottom: 0;
  padding-bottom: 2px;
}

.nom {
  position: relative;
}
.nom i {
  position: absolute;
  font-size: 20px;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: black;
}
.nom .fas {
  opacity: 0;
}
.nom .fas:hover {
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  opacity: 1;
}

.menu {
  background-color: #F7F7F7;
  padding: 30px 20px 30px 20px;
}

.entrees h3 {
  margin-top: 0px;
  text-transform: uppercase;
  font-weight: 300;
  border-bottom: 3px solid #99E2D0;
  padding-bottom: 5px;
  width: 40px;
}

body {
  font-family: "Roboto", sans-serif;
  width: 100%;
  max-width: 1440px;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

h1 {
  font-family: "Shrikhand", sans-serif;
  font-size: 48px;
}

h2 {
  margin: 0px 20px 20px 20px;
  font-size: 26px;
  font-weight: 600;
}

h3 {
  font-weight: 600;
}

h3, p {
  margin: 10px 0px 10px 20px;
  color: black;
}

.localisation {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(233, 231, 231);
  height: 50px;
  margin: 0px;
}

.bloc__accueil {
  background-color: rgb(247, 247, 247);
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.bloc__accueil p {
  margin: 0px 10px 20px 10px;
  font-size: 22px;
  font-weight: 200;
}
.bloc__accueil a {
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  text-decoration: none;
  color: white;
  border-radius: 50px;
  height: 50px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 4px 4px 5px rgb(164, 164, 164);
}

.bloc__fonctionnement {
  padding: 30px 20px 30px 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
}
.bloc__fonctionnement .etapes__fonctionnement {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  border: 2px black;
  counter-reset: steps;
}
@media (max-width: 882px) {
  .bloc__fonctionnement .etapes__fonctionnement {
    flex-direction: column;
  }
}
.bloc__fonctionnement li {
  background-color: rgb(247, 247, 247);
  box-shadow: 0px 0px 5px grey;
  border-radius: 15px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  position: relative;
  flex-grow: 1;
}
.bloc__fonctionnement li:hover {
  background-color: #f5edff;
}
.bloc__fonctionnement li::before {
  counter-increment: steps;
  content: counter(steps);
  color: white;
  background-color: #9356DC;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: -10px;
}

.picto {
  margin-right: 20px;
}

#restaurants {
  background-color: #f7f7f7;
  padding: 30px 20px 30px 20px;
}
#restaurants .restaurants__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
@media (max-width: 882px) {
  #restaurants .restaurants__cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
#restaurants .restaurants__cards a {
  text-decoration: none;
  border-radius: 20px;
  background-color: #FFFFFF;
  box-shadow: 4px 4px 5px rgb(164, 164, 164);
}
#restaurants .restaurants__cards .new {
  position: relative;
}
#restaurants .restaurants__cards .new::before {
  content: "Nouveau";
  position: absolute;
  height: 30px;
  width: 80px;
  background-color: #99E2D0;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #278870;
}

footer {
  background-color: #363636;
  padding: 20px 20px 20px 20px;
  color: white;
  display: flex;
  flex-direction: column;
}
footer p {
  font-family: "Shrikhand", sans-serif;
  font-size: 20px;
  margin: 10px 0px 20px 0px;
  color: white;
}
footer div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer div a {
  text-decoration: none;
  color: white;
}/*# sourceMappingURL=style.css.map */